<!DOCTYPE html>
{% load static %}
{% load income_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'bd_map/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bd_map/css/style.css' %}">
    <title>Sales Monitoring System - Top Sales Areas</title>
    <!-- ChatJs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<div class="tableContainer">
    <h2>Top Sales from last Month</h2>
    <table class="tableTopList">
        <tr>
            <th>District Name</th>
            <th>Last month Sales (BDT)</th>
        </tr>
        {% for item in income_obj_top_list %}
            <tr>
                <td> {{ item.district_name }} </td>
                <td> {{ item.income_last_month }} </td>
            </tr>
        {% endfor %}
    </table>
</div>
<p id="topDistrict"> {% top_sales_district_list %}</p>

<div class="chartContainer">
    <canvas id="topSalesChart"></canvas>
</div>
<script>
    let ctx = document.getElementById('topSalesChart').getContext('2d');
    let top_district = document.getElementById('topDistrict').innerText.trim().slice(1, -1).replace(/'/g, '');  /*Get string containing District name list*/
    let topChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: top_district.split(","),  /*Convert string to array*/
            datasets: [{
                label: '# of Sales (BDT) ',
                data: {% top_sales_income_list  %},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255,99,178,0.2)',
                    'rgba(54, 162, 135, 0.2)',
                    'rgba(255, 106, 86, 0.2)',
                    'rgba(255, 206, 186, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,178,1)',
                    'rgba(54, 162, 135, 1)',
                    'rgba(255, 106, 86, 1)',
                    'rgba(255, 206, 186, 1)',

                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Top Sales Last Month'
            }
        }
    });
</script>
</body>
</html>